/*---------------------- General ------------------------- */

body{
    margin: 0;
}

h1{
    text-align: center;
    font-family: 'Original Surfer', cursive;
}

h3{
    font-family: 'Original Surfer', cursive;
}

p, form {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 20px;
}

li {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 20px;
    margin: 3%;

}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td, tr {
    border: 1px solid;
  }

input {
    outline: none;
}

/*---------------------- Header ------------------------- */

.container{
    text-align: center;
    padding: 5%;
    background-color: #55D8C1;
}

.icon{
    width: 70px;


}

/*---------------------- History of Surfing ------------------------- */

.history-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #51F0A6;
}

@media (max-width: 874px) {
    .history-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #51F0A6;
    }
}

.history{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 45%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
}

@media (max-width: 874px) {
    .history{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 45%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-right: 7%;
        
    }
}


.history-image{
    display: inline-block;
    margin-right: 5%;
    
 
}

@media (max-width: 874px) {
    .history-image{
        display: inline-block;
        margin-left: 50px;
        margin-bottom: 70px;
     
    }
}


/*---------------------- Fun Facts ------------------------- */

.fun-fact-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #51E1F0;
}

@media (max-width: 874px) {
    .fun-fact-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #51E1F0;
    }
}

.ff-title{
    margin-left: 40px;
}

.surf-dude{
    height: 400px;
    display: inline-block;
    border-radius: 100%;
    margin-left: 150px;
}

@media (max-width: 874px){
    .surf-dude{
        height: 400px;
        margin-right: 140px;
        margin-top: 100px;
       
    }
}

.fun-facts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: right;
    text-align: left;
    width: 40%;
    margin: 5%;
}

/*---------------------- Getting Started ------------------------- */

.get-started-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #4EE674;
}

@media (max-width: 874px){
    .get-started-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #4EE674;
    }
}

.h3-get-started{
    text-align: center;
    margin: 70px;
}

.surf-image2{
    width: 400px;
    height: 300px;
    margin-bottom: 150px;
    margin-left: 100px;
    margin-right: 100px;

}

.price-table{
    width: 45%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 8%;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 20px;
}

.links{
    margin-top: 20px;

}

.link{
    color: blue;
    text-decoration: none;
}

.link1{
    margin-right: 10px;

}

.link2{

}

/*---------------------- Check the Weather ------------------------- */

.weather-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #55D8C1;
}

.weather-title{
    margin-top: 10vh;
    margin-bottom: 10h;
}

.surf-weather2{
    width: 500px;
    height: 350px;
    margin-top: 8vh;
    margin-bottom: 8vh;
}

.api-search{
    margin-top: 5vh;
    margin-bottom: 5vh;
}



#search-button{
    color: white;
}

.search-results-div{
    margin-bottom: 5vh;
}

.search-results{
    color: black;
}


    
