/* 
   Author: Carl Tullis
    Last Updated: 5/3/2022
    Description: P0 project CSS
    
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tapestry&family=Water+Brush&display=swap');

/* 
Global CSS
*/

*{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;    
}

html{
    font-family: 'Tapestry', sans-serif;
}

/* 
The First Block of the page
*/

#logo{
    width: 30%;
    height: 30%;
}

#header{
    font-size: 40px;
    background-color: #B33030;
    width: 100%;
}

/* 
Page Navigation
*/
#nav{
    background-color: #164766;
    padding: 0;
    font-size: 25px;
    text-decoration: none;
    content: '';
    display: block;
    width: 100%;
}

.navItems{
    width: 100%;
    color: #FFCC12;
}

/* 
History Section
*/

#timelinePicture{
    width: 50%;
    height: 50%;
}

#historyHeading{
    font-size: 60px;
}

#historyContent{
    flex-direction: row;
    font-size: 30px;
}

/* 
Martial Arts Selector Section
*/

#popularMartialArts{
    background-color: #1E79B3;
    color: #FFCC12;
    font-size: 25px;
    width: 100%;
}

.pic{
    display: none;
    height: 50%;
    width: 50%;
}

#pictures, #topTen{
    flex-direction: row;
}

/* 
Favorite Fighters Section
*/

#famousFighters{
    background-color: #B3B142;
    padding: 0px;
    margin: 0px;
    width: 100%;  
}

#fighterCard{
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

.famous{
    width: 19vw;
    height: 25%;
}

.topFive{
    width: 20%;
}

/* 
Chuck Norris API Joke Bin
*/

#chuckJoke{
    background-color:#B33030;
    width: 100%;
}

/* 
Media Queries 
*/

@media all and (max-width: 800px) {
    *{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #historyContent{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }
    
    #popularMartialArts, #famousFighters, .navItems, #header, #nav{
        width: 100%;
    }
    #timelinePicture{
        width: 100%;
    }
    #fighterCard{
        flex-direction: column;
        width: 100%;
    }
    .famous{
        width: 75vw;
        height: 50%;
    }
    .pic, {
        width: 100vw;
    }
    #topFive + table{
        width: 100%;
    }
}